name: Deploy Docs

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: docs.hytalecn.com
          username: root
          key: ${{ secrets.GITHUB }}
          script: |
            set -e
            /home/1panel/www/sites/docs.hytalecn.com/index/deploy.sh
